h1,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.ContenitoreHead {
  padding-top: 1px;
  padding-left: 10vw;
  padding-bottom: 20px;
  background: #fcfcfc;
  border-radius: 10px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}
